button {
  padding: 0.6rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

button:hover {
  font-weight: bold;
  border-radius: 15px;
}
