//SASS VARIABLES
html {
  $primary: #444444;
  $secondary: #375a7f;
  $background: #ffffff;
  $accent: #adb5bd;
  $success: #00bc8c;
  $info: #3498db;
  $warning: #fc9c12;
  $danger: #e74c3c;
  $link: #3498db;
}

html[data-theme="dark"] {
  $primary: #444444;
  $secondary: #375a7f;
  $background: #222222;
  $accent: #adb5bd;
  $success: #00bc8c;
  $info: #3498db;
  $warning: #fc9c12;
  $danger: #e74c3c;
  $tag: #007053;
}

h3 {
  color: yellow;
}
