//Sass inheritance
%flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
