// @media screen and (max-width: 1200px) {
//   .navbar {
//     .navbar-title {
//       .navbar-company-name {
//         display: none;
//       }
//     }
//   }
// }

// @media screen and (max-width: 880px) {
//   .navbar {
//     .navbar-links {
//       display: none;
//     }
//     .navbar-burger {
//       display: inline;
//     }
//   }
// }
