.alert-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  //background-color: var(--color-danger);
  p {
    color: #ffffff;
    font-weight: 900;
    font-size: 1.2rem;
  }
}
