@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

//IMPORT GLOBAL STYLES
@import "./_config.scss";
@import "./_forms.scss";
@import "./_buttons.scss";

//IMPORT SCREEN STYLES

//IMPORT COMPONENT STYLES

//CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  color: var(--color-primary);
}
