@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

//IMPORT GLOBAL STYLES
@import "./_config.scss";
@import "./_forms.scss";
@import "./_buttons.scss";

//CSS RESET
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

//Backdrop Styles
.backdrop-container {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
