//IMPORT FONT FAMILY
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

//IMPORT CONFIG FILES STYLES
@import "./Config/reset.scss";
@import "./Config/global.scss";
@import "./Config/buttons.scss";
@import "./Config/animations.scss";
@import "./Config/form-input.scss";
@import "./Config/smooth-scroll.scss";

//IMPORT SCREEN STYLES
@import "./Screens/Company.scss";
@import "./Screens/EditReport.scss";
@import "./Screens/Login.scss";
@import "./Screens/MyProfile.scss";
@import "./Screens/NewPassword.scss";
@import "./Screens/NewReport.scss";
@import "./Screens/SearchReports.scss";

//IMPORT COMPONENT STYLES
@import "./Components/Alert.scss";
@import "./Components/Backdrop.scss";
@import "./Components/Checkbox.scss";
@import "./Components/Drawer.scss";
@import "./Components/Images.scss";
@import "./Components/Loader.scss";
@import "./Components/Navbar.scss";
@import "./Components/ReportDetails.scss";
@import "./Components/ReportTile.scss";
@import "./Components/SearchBar.scss";
@import "./Components/UserTile.scss";

