.images-container {
  display: flex;
  flex-direction: column;
  .images-uploaded {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .image-thumbnail {
      width: 150px;
      border: 2px solid transparent;
    }
    .image-thumbnail:hover {
      border: 2px solid red;
    }
  }
}
