.login-container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    input {
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }
}
