.report-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--color-tile);
  border: 2px solid var(--color-form-border);
  border-radius: 5px;
  h4 {
    margin-top: 0.5rem;
  }
  .report-approved,
  .report-unapproved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    border-radius: 5px;
    color: #fff;
    p {
      margin-left: 1rem;
    }
    button {
      margin-right: 1rem;
    }
  }
  .report-approved {
    background-color: var(--color-success);
  }
  .report-unapproved {
    background-color: var(--color-danger);
  }
  .report-title {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 2rem;
      width: 80%;
    }
    .report-author {
      margin-top: 0.5em;
      text-align: right;
      font-size: 1rem;
      width: 20%;
    }
  }
  .report-tags {
    display: flex;
    li {
      margin-right: 0.3rem;
      font-weight: bold;
      color: var(--color-tag);
    }
  }
  .report-details-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}

.report-comment {
  margin-top: 0.5rem;
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
}
