.report-tile {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 30%;
  height: 30vh;
  background-color: var(--color-tile);
  border: 2px solid var(--color-form-border);
  border-radius: 5px;
  box-shadow: 0px 15px 10px -15px #111;
  h2 {
  }
  ul {
    display: flex;
    li {
      color: var(--color-tag);
      font-weight: bold;
      margin: 0.3rem;
    }
  }
  p {
  }
  button {
    margin-bottom: 0.3rem;
  }
}
