@import "./_config";

.searchReports-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .searchReports-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
