.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    i {
      color: var(--color-tag);
      font-weight: bold;
      font-size: 3rem;
    }
    input {
      width: 50%;
      margin-left: 0.5rem;
      margin-right: 1rem;
      padding: 0.4rem;
      font-size: 2rem;
      color: var(--color-tag);
      font-weight: bold;
    }
    input:focus {
      border: 3px solid var(--color-tag);
    }
    button {
      padding: 0.8rem;
      font-weight: bold;
      font-size: 1.5rem;
      width: 15%;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
}

.searchTag {
  button {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: var(--color-tag);
    font-weight: bold;
    font-size: 2rem;
    background: transparent;
    border: 2px solid transparent;
  }
  button:hover {
    color: var(--color-danger);
    border: 2px solid var(--color-danger);
  }
}
