.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-company-user-container {
    margin-top: 2rem;
    width: 80%;
    .add-company-user-form-container {
      width: 100%;
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .add-company-username,
        .add-company-user-email {
          width: 140%;
          input {
            height: 2rem;
            width: 60%;
            margin-bottom: 0.8rem;
            margin-left: 3rem;
          }
        }
        .add-company-user-admin-switch {
          display: flex;
          align-items: center;
          margin-top: 0;
          .admin-switch {
            margin-left: 15rem;
          }
        }
        button {
          width: 6rem;
          height: 2.4rem;
          margin-right: 5rem;
        }
      }
    }
  }

  .company-add-user-alerts {
    width: 80%;
    margin-top: 1rem;
  }

  .company-users {
    width: 80%;
    margin-top: 2rem;
    .company-user-tile-container {
      display: flex;
      flex-direction: column;
    }
  }

  .delete-user-button {
    margin-top: 1rem;
  }
}
