.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .add-company-user-container {
    margin-top: 2rem;
    width: 80%;
    .add-company-user-form-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        input {
          height: 2rem;
          margin-bottom: 0.8rem;
          margin-left: 3rem;
        }
        .add-company-user-admin-switch {
          display: flex;
          align-items: center;
          margin-top: 0;
          .admin-switch {
            margin-left: 13rem;
          }
        }
        button {
          width: 6rem;
          height: 2.4rem;
        }
      }
    }
  }
  .company-users {
    width: 80%;
    margin-top: 2rem;
    .company-user-tile-container {
      display: flex;
      flex-direction: column;
    }
  }
  .delete-user-button {
    margin-top: 1rem;
  }
}
