.edit-report-container {
  width: 60%;
  margin: auto;
  .edit-report-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    input {
      padding: 0.3rem;
      margin-bottom: 0.8rem;
    }
    .edit-report-searchtags {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 0.8rem;
      li {
        color: var(--color-tag);
      }
    }
    .report-shortDesc {
      min-height: 8rem;
    }
    .report-longDesc {
      min-height: 20rem;
    }
    .report-steps-ul {
      margin-bottom: 1rem;
    }
  }
  li > button {
    margin-left: 5px;
    margin-top: 3px;
  }
  .report-approved-container {
    display: flex;
    justify-content: flex-start;
    .report-approved-label {
      margin-right: 1rem;
    }
    .report-approved-user {
      margin-left: 3rem;
    }
  }
  .edit-submit-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.edit-success-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  button {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
}
.delete-success-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  button {
    font-size: 1.3rem;
  }
}
.confirm-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  p {
    font-size: larger;
    margin-bottom: 1rem;
  }
  .confirm-delete-buttons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    button {
      width: 40%;
    }
  }
}
