.login-container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    label {
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
      margin-bottom: 2rem;
      padding: 0.6rem;
      font-size: 1rem;
    }
    .login-btn {
      padding: 1rem;
    }
    .login-forgot-password {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    .login-forgot-password:hover {
      color: var(--color-info);
    }
  }
}
