.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  max-width: 30rem;
  margin: auto;
  margin-top: 8rem;
  .reset-password-form {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    input {
      margin-bottom: 1rem;
      padding: 0.6rem;
    }
    button {
      padding: 0.8rem;
    }
  }
  .reset-password-alerts {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    a {
      margin-top: 1rem;
    }
    a:hover {
      color: var(--color-info);
    }
  }
}
