.new-report-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  .new-report-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    input {
      margin-bottom: 0.8rem;
    }
    .new-report-tags-ul {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      flex-wrap: wrap;
      min-height: 2rem;
      li {
        color: var(--color-tag);
      }
      p {
        color: var(--color-form-border);
        font-size: larger;
        font-weight: bold;
      }
    }
    .report-shortDesc {
      min-height: 8rem;
    }
    .report-longDesc {
      min-height: 20rem;
    }
    .new-report-steps-ul {
      li {
        font-size: large;
        border: 2px solid transparent;
      }
      li:hover {
        color: var(--color-danger);
        border: 2px solid var(--color-danger);
        border-radius: 5px;
      }
      p {
        color: var(--color-form-border);
        font-size: larger;
        font-weight: bold;
      }
    }
  }
}

