@import "../_config";

.searchReports-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .search-reports-unapproved-switch {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    z-index: 1;
    p {
      margin-left: 0.6rem;
      color: var(--color-tag);
      font-weight: 700;
    }
  }
  .searchReports-tiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
}
