.alert-container {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  i {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  p {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
}
