.checkbox-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  .searchtag-container {
    display: flex;
    align-items: baseline;
    margin: 0 0.3rem;
    label {
      font-size: 1.3rem !important;
      margin: 0rem 0.5rem 0.5rem !important; 
      color: var(--color-tag);
    }
  }
}