@import "../config";

.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px 0px #111;
  .navbar-title {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    .navbar-logo {
      display: flex;
      color: var(--color-secondary);
      i {
        margin-right: 0.3rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
    h1 {
      font-size: 2.5rem;
      margin-left: 3rem;
      font-weight: 900;
      color: var(--color-secondary);
    }
  }
  .navbar-links {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-right: 2rem;
    color: var(--color-secondary);
    a {
      padding: 0 0.5rem;
      font-size: 1.1rem;
    }
    a:hover {
      color: var(--color-primary);
      background-color: var(--color-secondary);
      border-radius: 5px;
      border-bottom: 2px solid var(--color-primary);
    }
    button {
      position: absolute;
      padding: 0.7rem;
      top: 3px;
      right: 5px;
      outline: none;
      background-color: transparent;
      border: none;
      box-shadow: none;
      i {
        color: var(--color-secondary);
      }
    }
  }
  .navbar-burger {
    display: none;
    button {
      position: absolute;
      top: 20%;
      right: 2rem;
      padding: 1rem;
      outline: none;
      background-color: transparent;
      border: 2px solid var(--color-secondary);
      border-radius: 8%;
      i {
        color: var(--color-secondary);
      }
    }
    button:hover {
      background-color: var(--color-secondary);
      i {
        color: var(--color-primary);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    .navbar-title {
      .navbar-company-name {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    .navbar-links {
      display: none;
    }
    .navbar-burger {
      display: inline;
    }
  }
}
