.report-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--color-tile);
  border: 2px solid var(--color-form-border);
  border-radius: 5px;
  h4 {
    margin-top: 0.5rem;
  }
  .report-approved,
  .report-unapproved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    border-radius: 5px;
    p {
      margin-left: 1rem;
      color: #fff;
    }
  }
  .report-approved {
    background-color: var(--color-success);
  }
  .report-unapproved {
    background-color: var(--color-danger);
  }
  .report-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .report-author {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: right;
      font-size: 1rem;
    }
    h2 {
      font-size: 2rem;
      width: 80%;
    }
  }
  .report-tags {
    display: flex;
    li {
      margin-right: 2rem;
      font-weight: bold;
      color: var(--color-tag);
    }
  }
  .report-details-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    button {
      width: 140px;
    }
  }
  .submit-comment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    textarea {
      width: 70%;
      height: 70px;
      padding: 0.3rem;
      font-size: 1.1rem;
    }
    textarea:focus {
      border: 3px solid var(--color-tag);
    }
    button {
      width: 140px;
    }
  }
  .comment-success {
    background-color: var(--color-success);
  }
}

//REPORT COMMENTS COMPONENT
.report-comment {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
  .comment-details {
    display: flex;
    align-self: flex-end;
    p {
      font-size: 0.8rem;
      padding: 0.2rem;
    }
  }
}

//SCROLLBAR
.report-details::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

.report-details::-webkit-scrollbar-track {
  background: var(--color-border); /* color of the tracking area */
}

.report-details::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-border); /* creates padding around scroll thumb */
}
