.report-tile {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.4rem;
  width: 95%;
  background-color: var(--color-tile);
  border: 1px solid var(--color-form-border);
  border-radius: 5px;
  box-shadow: 0px 15px 10px -15px #111;
  .report-tile-title {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0.3rem;
    border-bottom: 1px solid var(--color-form-border);
    ul {
      display: flex;
      li {
        color: var(--color-tag);
        font-weight: bold;
        margin: 0.3rem;
      }
    }
  }
  .report-tile-content {
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    width: 95%;
    p {
      padding: 0.3rem;
    }
    button {
      align-self: flex-end;
      margin-bottom: 0.3rem;
    }
  }
}
